[client]
#password = your_password
port = 3306
socket = /var/run/mysqld/mysqld.sock

#============================================================================================================
# mysqld
#============================================================================================================
[mysqld]
user = mysql
port = 3306
bind-address = 127.0.0.1
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
basedir         = /usr
tmpdir          = /tmp

